<h1>Word Count</h1>
<h3>Please enter a word into Form 1. Then enter a sentence in Form 2 to see how many times the Word from Form 1 occers.</h3>

<form action="/output" method="post">
  <label for="Form1">Enter a single word</label>
  <input type="text" name="user_input_form_1">

  <label for="Form2">enter a sentece</label>
  <input type="text" name="user_input_form_2">
  <button type="submit" name="button">Click me!</button>
</form>
